@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-background {
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.top-symbol {
  font-size: 5rem;
  margin-right: auto;
}

.numbers {
  font-size: 5rem;
  justify-content: center;
}

.buttom-symbol {
  font-size: 5rem;
  margin-left: auto;
  transform: rotate(180deg);
}
