@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-background {
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-symbol {
  font-size: 5rem;
  margin-left: 15px;
}
